/* Start containers */
header {
  background-color: black;
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section {
  bottom: 30px;
  left: 0;
  position: absolute;
  top: 154px;
  width: 100%;
}
footer {
  background-color: black;
  border-top: solid 4px #918F7E;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
iframe {
  height: 100%;
  width: 100%;
}
/* End containers */
/* Start components */
footer ul {
  display: block;
  float: left;
  list-style: none;
  margin: 3px 0 3px 10px;
  padding-left: 0;
  position: relative;
}
footer ul li {
  display: block;
  float: left;
  position: relative;
}
footer ul li:first-child a {
  border: none;
  margin: 0;
}
footer ul li a {
  border-left: 1px solid #6a695c;
  color: #fff;
  display: block;
  font-size: 11px;
  margin-left: 7px;
  padding-left: 7px;
  text-decoration: none;
}
footer ul li a:hover {
  color: #918F7E;
  text-decoration: none;
}
.home-link a {
  background: url(../img/nps-arrowhead-small.jpg) no-repeat left;
  padding-left: 14px;
}
footer .tag-line {
  background: url(../img/experience-your-america.jpg) no-repeat left;
  float: right;
  height: 7px;
  margin: 10px 10px 0 0;
  width: 179px;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
iframe {
  border: none;
}
#customize {
     -moz-box-shadow: 2px 0 2px rgba(0,0,0,.14);
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.14);
          box-shadow: 2px 0 2px rgba(0,0,0,.14);
  background: url(../img/next-step-bottom.jpg) no-repeat bottom;
  background-color: #F9F7F1;
  color: #464646;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}
#customize .header {
  border-bottom: solid 1px #B5B39C;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 9px;
}
#customize .content {
  padding: 15px 18px;
}
#customize .footer {
  bottom: 0;
  height: 105px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
#layers {
  color: #454545;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#layers li {
  border-bottom: solid 1px #454545;
  display: block;
  height: 110px;
}
#logo {
  float: left;
  padding-left: 20px;
  margin-top: 22px;
}
#map {
  height: 100%;
  left: 268px;
  position: absolute;
  right: 0;
  top: 0;
}
#metadata {
     -moz-box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
  -webkit-box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
          box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
  background-color: #44433B;
  bottom: 0;
  height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
}
#metadata span:nth-child(1) {
  display: block;
  padding: 0 155px 0 20px;
}
#metadata span:nth-child(2) {
  bottom: 14px;
  position: absolute;
  right: 20px;
}
#metadata .title {
  font-size: 1.6em;
  line-height: 25px;
  margin: 12px 0 0 0;
}
#metadata .description {
  margin-top: 6px;
}
#metadata a {
  color: #FFF;
}
#steps {
  display: block;
  list-style-position: inside;
  margin-top: 5px;
  position: absolute;
  right: 20px;
  top: 17px;
  width: 600px;
}
#steps li {
  color: #CCCCCC;
  float: left;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 10px;
}
#steps li.active {
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
     -moz-border-radius: 7px / 3px;
  -webkit-border-radius: 7px / 3px;
          border-radius: 7px / 3px;
  background-color: #44433B;
  color: white;
}
/* End components */
/* End styles */
/* Start Bootstrap overrides */
/* Inputs */
/*
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba(89, 114, 52, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 114, 52, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 114, 52, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 114, 52, 0.6);
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px rgba(89, 114, 52, 0.8) auto;
  outline-offset: -2px;
}
*/
/* Buttons */
/*
button:focus, .btn:focus {
  outline: thin dotted #333;
  outline: 5px rgba(89, 114, 52, 0.8) auto;
  outline-offset: -2px;
}
*/
/* End Bootstrap overrides */
/* Start Bootstrap Editable overrides */
.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: none;
  cursor: pointer;
  text-decoration: none;
}
/* End Bootstrap Editable overrides */