/* Start containers */
header {
  background-color: black;
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
section {
  bottom: 30px;
  left: 0;
  min-height: 275px;
  position: absolute;
  top: 154px;
  width: 100%;
}
  section div:first-child {
    display: block;
  }
  section .content {
    bottom: 105px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 42px;
  }
footer {
  background-color: black;
  border-top: solid 4px #918F7E;
  bottom: 0;
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
iframe {
  height: 100%;
  width: 100%;
}
/* End containers */
/* Start components */
footer ul {
  display: block;
  float: left;
  list-style: none;
  margin: 6px 0 3px 10px;
  padding-left: 0;
  position: relative;
}
footer ul li {
  display: block;
  float: left;
  position: relative;
}
footer ul li:first-child a {
  border: none;
  margin: 0;
}
footer ul li a {
  border-left: 1px solid #6a695c;
  color: #fff;
  display: block;
  font-size: 11px;
  margin-left: 7px;
  padding-left: 7px;
  text-decoration: none;
}
footer ul li a:hover {
  color: #918F7E;
  text-decoration: none;
}
.home-link a {
  background: url(../img/nps-arrowhead-small.jpg) no-repeat left;
  padding-left: 14px;
}
footer .tag-line {
  background: url(../img/experience-your-america.png) no-repeat left;
  float: right;
  height: 7px;
  margin: 10px 10px 0 0;
  width: 179px;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
iframe {
  border: none;
}
.step {
     -moz-box-shadow: 2px 0 2px rgba(0,0,0,.14);
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.14);
          box-shadow: 2px 0 2px rgba(0,0,0,.14);
  background: url(../img/next-step-bottom.jpg) no-repeat bottom;
  background-color: #F9F7F1;
  color: #464646;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}
  .step .header {
    border-bottom: solid 1px #B5B39C;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 9px;
  }
    .step .header h3 {
      display: inline;
      font-size: 16px;
      padding-left: 10px;
    }
    .step .header img {
      float: left;
      margin-top: 1px;
    }
  .step .content {
    padding: 16px 28px;
  }
    .step .content legend {
      font-size: 18px;
    }
  .step .footer {
    bottom: 0;
    height: 105px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
    .step .footer .btn-primary {
      margin-top: 28px;
    }
    .step .footer .btn-primary span {
      font-weight: normal;
    }
#logo {
  float: left;
  padding-left: 20px;
  margin-top: 22px;
}
#map {
  height: 100%;
  left: 268px;
  position: absolute;
  right: 0;
  top: 0;
}
#metadata {
     -moz-box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
  -webkit-box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
          box-shadow: inset 2px 0 1px rgba(0,0,0,.07);
  background-color: #44433B;
  bottom: 0;
  height: 80px;
  left: 0;
  position: absolute;
  width: 100%;
}
#metadata span:nth-child(1) {
  display: block;
  padding: 0 320px 0 20px;
}
#metadata span:nth-child(2) {
  bottom: 14px;
  position: absolute;
  right: 20px;
}
#metadata a {
  color: #FFF;
}
#metadata .title {
  font-size: 1.6em;
  line-height: 25px;
  margin: 12px 0 0 0;
}
#metadata .description {
  margin-top: 6px;
  position: relative;
}
  #metadata .description a {
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
#accordion-step-1 {
  margin: 0 -28px;
}

#steps {
  display: block;
  list-style-position: inside;
  margin-top: 5px;
  position: absolute;
  right: 20px;
  top: 17px;
}
#steps li {
  float: left;
  list-style-type: none;
  margin-left: 30px;
}
  #steps li:first-child {
    margin-left: 0;
  }
  #steps li button {
    background-color: transparent;
    border: none;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 10px;
  }
  #steps li.active button {
       -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
       -moz-border-radius: 7px / 3px;
    -webkit-border-radius: 7px / 3px;
            border-radius: 7px / 3px;
    background-color: #44433b;
    cursor: default;
    color: #fff;
  }
/* End components */
/* End styles */
/* Start Bootstrap Editable overrides */
.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: none;
  cursor: pointer;
  text-decoration: none;
}
.editable-error-block {
  font-size: 13px;
}
/* End Bootstrap Editable overrides */
#button-addAnotherLayer {
  background-color: #f5f1e8;
  background-image: -moz-linear-gradient(bottom,rgba(246,244,236,1) 0%, rgba(240,236,223,1) 100%);
  background-image: -o-linear-gradient(bottom,rgba(246,244,236,1) 0%, rgba(240,236,223,1) 100%);
  background-image: -webkit-linear-gradient(bottom,rgba(246,244,236,1) 0%, rgba(240,236,223,1) 100%);
  background-image: linear-gradient(bottom,rgba(246,244,236,1) 0%, rgba(240,236,223,1) 100%);
  border-bottom: solid 1px #b5b39c;
  border-left: none;
  border-right: none;
  border-top: solid 1px #b5b39c;
  color: #5e7630;
  display: none;
  font-size: 15px;
  font-weight: bold;
  margin: 15px -28px;
  padding: 14px 10px;
  text-align: left;
  width: 266px;
}
  #button-addAnotherLayer span:first-child {
    font-size: 20px;
  }
  #button-addAnotherLayer span:last-child {
    padding-left: 20px;
  }
#button-addAnotherLayer:hover, #button-addAnotherLayer:focus {
  background-color: #f5f1e8;
  background-image: -moz-linear-gradient(bottom,rgba(237,233,218,1) 0%, rgba(226,217,196,1) 100%);
  background-image: -o-linear-gradient(bottom,rgba(237,233,218,1) 0%, rgba(226,217,196,1) 100%);
  background-image: -webkit-linear-gradient(bottom,rgba(237,233,218,1) 0%, rgba(226,217,196,1) 100%);
  background-image: linear-gradient(bottom,rgba(237,233,218,1) 0%, rgba(226,217,196,1) 100%);
  background-position: 0 0;
  color: #5e7630;
}
#button-addLayer, #button-addBaseMaps {
  text-align: left;
  width: 100%;
}
  #button-addLayer span, #button-addBaseMaps span {
    margin-left: 15px;
  }
#button-addBaseMaps {
  margin-top: 5px;
}
.modal-title img {
  cursor: pointer;
}
/* jQuery Draggable */
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
#layers li.placeholder {
  position: relative;
}
#layers li.placeholder:before {
  position: absolute;
}
/* Bootstrap Overrides */
.modal {
  overflow: hidden;
  overflow-y: hidden;
}