#modal-viewConfig-code {
  resize: none;
}
#modal-viewConfig form {
  bottom: 0;
  position: absolute;
  top: 65px;
  width: 605px;
}
  #modal-viewConfig form .form-group, #modal-viewConfig form .form-group textarea {
    height: 100%;
  }